html {
    font-size: 22px;
}


body{
    background-color: #333;
    font-family: sans-serif;
    font-size: 1em;
    color: whitesmoke;
    margin-left: 36%;
    margin-top: 2%;
}

a {
    color: aliceblue;
}

a:visited {
    color: lightgray;
}

a:hover, a:active{
    color: #eee;
}